:root {
  --black: #000;
  --white: #fff;
  --primary_color: #2f303a;
  --secondary_color: #2196f3;
  --grey: #757575;
  --none_black: #212121;
  --none_white: #f5f4fa;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

html {
  font-family: var(--dominant-font);
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: var(--dominant-font);
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: var(--black);
}
li {
  list-style-type: none;
}
button {
  font: inherit;
  cursor: pointer;
}
img {
  vertical-align: top;
}


/*--------------*/
.header {
  border: 1px #ECECEC solid;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding: 25px 0px;  
}

.header__logo,
.logo-white {
  color: var(--secondary_color);
  font-family: "Raleway", sans-serif;;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header__logo > span {
  color: var(--black);
}

.logo-white > span {
  color: var(--white);
}

.header__title {
  background: var(--primary_color);
  height: 600px;
  flex-shrink: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contact-info{
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  gap: 40px;
  margin-left: auto;

}

.contact-info > a:hover {
  color: var(--secondary_color);
}
.contact-email,
.contact-tel{
  color: var(--grey);
}

.menu {
  margin-right: auto;
}

.menu-list {
  color: var(--none_black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.menu-item:hover {
  color: var(--secondary_color);
}

.menu_nav{
  display: flex;
    gap: 50px;
}

.menu_contact {
  display: flex;
  gap: 40px;
  margin-left: auto;
  color: var(--grey);
}

.menu_list {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 0.28px;
  padding: 32px 0;
}

.menu_item {
  transition: color 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  color: var(--none_black);
  letter-spacing: 0.28px;
  padding: 32px 0;
}

.active {
  color: var(--secondary_color);
}
.contact-info{
    transition: color 0.3s ease;
    color: var(--grey);
    display: flex;
    align-items: center;
}
/*------------------------*/
.main-title{
display: flex;
justify-content: center;
align-items: center;
padding: 200px 0;
max-height: 600px;
background: var(--primary_color);
}
.header__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.header__description{
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
   font-style: normal;
   line-height: 136.364%;
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 2.64px;
}
.click {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--secondary_color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;  
  padding: 10px 24px;
}

.details{
    padding: 94px 0;
}
.details-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.details-item {
    max-width: 270px;
}
.details-header {
  color: var(--none_black);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.details-text {
  color: var(--grey);
  line-height: 171.429%;
  letter-spacing: 0.42px;
  font-size: 14px;
  font-weight: 400;
}
.work{
  padding-bottom: 94px;
}
.work-img{
    flex-shrink: 0;
    max-width: 370px;
    height: auto;
}

.header_secondary {
  color: var(--none_black);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.team {
  background: var(--none_white);
  padding: 94px 0;
}

.header-secondary-team{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.team__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
}
.team-card{
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    background:var(--white);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.team-img{
  width: 270px;
  height: 260px;
  border: 1px solid var(--white);
}
.team-role{
  padding: 30px 15px 30px 15px;
}
.team-name {
  color: #212121;

text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
padding-bottom: 10px;
}
.team-job {
  color: #757575;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}

/*------------------------------*/
.footer {
  width: 100%;
  padding: 60px 0;
  background: var(--primary_color);
}
.logo-footer{
  margin-bottom: 28px;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.city {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 114.286%;
  letter-spacing: 0.42px;
  font-style: normal;
}
.contact-footer  {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-style: normal;
}
.contact-footer:hover {
    color: var(--secondary_color);
}
/*---------------------------------*/

.filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    flex-wrap: wrap;
    padding-top: 94px;
    margin-bottom: 50px;
}
.filter-list__item {
  border-radius: 100px;
  background: var(--none_white);
}
.filter-list__button {
  color: var(--none_black);
  text-align: center;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5% ;
  letter-spacing: 0.48px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

    
.filter-list__button:hover {
  background-color: var(--secondary_color);
  color: var(--white);
  scale: 1.2;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease; 
  border-radius: 4px;
}

.projects__list{
  display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 94px;
     
}
.project_list_item{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.project-name {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}
.project-description {
    color: var(--grey);
    font-size: 16px;
    line-height: 187.5%;
    letter-spacing: 0.48px;
    font-weight: 400;
}
.project-img{
  width: 370px;
height: 294px;
flex-shrink: 0;
border: 1px solid var(--white);
}
.project_card{
  border: 1px solid #EEE;
  background: #FFF;
}


