
:root {
  --black: #000;
  --white: #fff;
  --primary_color: #2f303a;
  --secondary_color: #2196f3;
  --grey: #757575;
  --none_black: #212121;
  --none_white: #f5f4fa;
  --main-font: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

html {
  font-family: var(--main-font);
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style-type: none;
}

button {
  font: inherit;
  cursor: pointer;
}

img {
  vertical-align: top;
}


/*--------------*/
.header {
  border: 1px #ECECEC solid;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding: 25px 0px;
}

.header__logo,
.logo-white {
  color: var(--secondary_color);
  font-family: "Raleway", sans-serif;
  ;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header__logo>span {
  color: var(--black);
}

.logo-white>span {
  color: var(--white);
}

.main__title-container {
  height: 600px;
  flex-shrink: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


.header__contact {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.header__contact>a:hover .header__contact>a:focus {
  color: var(--secondary_color);
}


.footer__conract-link {
  color: rgba(255, 255, 255, 0.60);
}


.header__menu-item {
  color: var(--none_black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__menu-list {
  display: flex;
  gap: 50px;
}

.header__contacts {
  display: flex;
  gap: 40px;
  margin-left: auto;
  color: var(--grey);
  letter-spacing: 0.42px;
  align-items: center;
}


.header__menu-link {
  transition: color 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  color: var(--none_black);
  letter-spacing: 0.28px;
  padding: 32px 0;
}
.header__menu-link:hover,
.header__menu-link:focus {
  color: var(--secondary_color);
}
.header__menu-link-active {
  color: var(--secondary_color);
}

.header__contact {
  transition: color 0.3s ease;
  color: var(--grey);
  display: flex;
  align-items: center;
}

/*------------------------*/
.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  max-height: 600px;
  background: var(--primary_color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),
  url('../img/Img.jpg');
}

.main__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.main__title-text {
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  font-style: normal;
  line-height: 136.364%;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.64px;
}

.main__button {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--secondary_color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
  padding: 10px 24px;
  transition: color 0.3 ease;
}
.main__button:hover,
.main__button:focus{
  background-color: #188CE8;
}

.details {
  padding: 94px 0;
}

.details__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.details__item {
  max-width: 270px;
}

.details__title {
  color: var(--none_black);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.details__text {
  color: var(--grey);
  line-height: 171.429%;
  letter-spacing: 0.42px;
  font-size: 14px;

}

.work {
  padding-bottom: 94px;
}

.work-img {
  flex-shrink: 0;
  max-width: 370px;
  height: auto;
}
.work__title,
.clients__title,
.team__title {
  color: var(--none_black);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team {
  background: var(--none_white);
  padding: 94px 0;
}


.team__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
}

.team__card {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__photo{
  width: 270px;
  height: 260px;
  border: 1px solid var(--white);
}

.team__info {
  padding: 30px 15px 30px 15px;
}

.team__name {
  color: #212121;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-bottom: 10px;
}

.team__position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

/*------------------------------*/
.footer {
  width: 100%;
  padding: 60px 0;
  background: var(--primary_color);
}

.footer__inner:not(:last-child) {
  margin-right: 93px;
}

.footer__title {
  margin-bottom: 20px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__logo {
  margin-bottom: 28px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__link {
  color: var(--white);
  font-size: 14px;

  line-height: 114.286%;
  letter-spacing: 0.42px;
  font-style: normal;
}

.footer__contact {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-style: normal;
  transition: color 0.3 ease;
}

.footer__contact:hover,
.footer__contact:focus {
  color: var(--secondary_color);
}

/*---------------------------------*/

.projects__filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.projects__filter-item {
  border-radius: 100px;
  background: var(--none_white);
}

.projects__filter-button {
  color: var(--none_black);
  text-align: center;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}


.projects__filter-button:hover,
.projects__filter-button:focus {
  background-color: var(--secondary_color);
  color: var(--white);
  scale: 1.2;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  border-radius: 4px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 1fr);


}

.projects__info {
  padding: 20px 24px;
}

.project__name {
  color: var(--none_black);
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.project__description {
  color: var(--grey);
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.48px;

}

.project__img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.projects__image-container {
  overflow: hidden;
}

.projects__card {
  border: 1px solid #EEE;
  background: #FFF;
  transition: color 0.3s ease;
}

.projects__card:hover,
.projects__card:focus {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);

}

/*------------icon----------------------*/

.header__contact-icon{
  fill: #757575;
}

.team__socials {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.team__social-icon {
  fill: #AFB1B8;
  transition: color 0.3s ease;
}

.team__social-link,
.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  transition: color 0.3s ease;
}

.team__socials {
  fill: var(--white);
  transition: color 0.3 ease;
}


.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--secondary_color);
}

.team__social-icon:hover,
.team__social-icon:focus {
  fill: #FFF;
}
.footer__social-link:hover,
.footer__social-link:focus{
  background-color: var(--secondary_color);
}

.team__socials .team__social-link:hover svg,
.team__socials .team__social-link:hover .team__social-icon,
.team__socials .team__social-link:hover .team__social-icon::before {
  fill: var(--white);
}

.clients__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  transition: color 0.3s ease;
}

.clients__list {
  display: flex;
  transition: color 0.3s ease;
}

.clients {
  padding: 94px 0;
}

.clients__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition: color 0.3s ease;
}

.clients__list :not(:last-child) {
  margin-right: 30px;
}

.clients__item:hover a,
.clients__item:focus a {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients__list .clients__item:hover svg,
.clients__list .clients__item:hover .clients__icon,
.clients__list .clients__item:hover .clients__icon::before {
  fill: var(--secondary_color);
}

.social-link-item {
  fill: var(--white);
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.10);
}

.footer-adress {
  margin-right: 70px;
}

.footer__socials {
  display: flex;
  align-items: center;

}

.footer__social-icon {
  fill: var(--white);
}
.footer__social-icon:hover,
.footer__social-icon:focus
{
  fill: #FFF;
}

.footer__socials :not(:last-child) {
  margin-right: 10px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.header__contact-link {
  display: flex;
  gap: 10px;
  color: #757575;
  letter-spacing: 0.42px;
  align-items: center;
  transition: color 0.3s ease;
}
.header__contact-icon{
  transition: color 0.3s ease;
}
.header__contact-link:hover .header__contact-icon {
  fill: #2196f3;
  transition: color 0.3s ease;
}

.header__contact-link:hover,
.header__contact-link:focus {
  color: #2196f3;
}

.details__icon {
  width: 70px;
  height: 70px;
}

.details__icon {
  border-radius: 4px;
  background: #F5F4FA;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.details__icon :not(:last-child) {
  margin-right: 30px;
}

.projects__overlay-container {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(101%);
  transition: transform 250ms ease;
  opacity: 1;
  background: rgba(33, 150, 243, 0.90);
  padding: 0px 24px;
}

.projects__card:hover .projects__overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects__overlay-text {
  color: #FFF;
  font-family: 'Roboto';
  font-size: 18px;
  letter-spacing: 0.54px;
  line-height: 1.55;
}

/*modal----------------*/
.modal__description{
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  font-weight: 700;
  color: rgba(33, 33, 33, 1);
  width: 448px;
  height: 23px;
}
.modal {
  position: fixed;
  z-index: 100;
  inset: 0;
  background: rgba(0, 0, 0, 0.20);
  display: flex;
  cursor: pointer;
}

.modal__window {
  position: relative;
  width: 528px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: auto;
  color: #212121;
  padding: 40px;
  cursor: default;
}

.modal__close-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
}

.modal__close-icon {
 max-width: 11px;
 max-height: 11px;
 transition: color 250ms ease;

}

.is-hidden {
  display: none;
}

.modal__close-icon:hover,
.modal__close-icon:focus {
  fill: #2196F3;

}
.modal__topic{
  position: relative;
  margin-bottom: 10px;
}
.modal__label{
  display: block;
  letter-spacing: 0.12px;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  width: 22px;
  height: 14px;
  margin-bottom: 4px;
}
.modal__input{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding-left: 40px;
}
.modal__input-icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
}
.modal__topic:focus-within .modal__input-icon {
  fill: var(--secondary_color); 
}

.modal__input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2196F3; 
}
.modal__textarea{
  padding: 12px 16px;
}
 textarea{
  width: 100%;
  height: 120px;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  resize: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  outline: none;
}
.modal__checkbox{
  color: #757575;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}
.modal__checkbox a{
  color: #2196F3;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal__submit-button{
  padding: 10px 52px;
  border-radius: 4px;
  background: var(--secondary_color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; 
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: color 250ms ease;
}
.modal__submit-button:hover,
.modal__submit-button:focus{
  border-radius: 4px;
  background: #188CE8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.modal__agree{
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 32px;
  /* display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center; */
}
.modal__agreement-check {
  cursor: pointer;
  fill: transparent; 
  border: 2px solid #000;
  border-radius: 4px;
}

.modal__checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  /* top: -9999px;
  left: -9999px; */
}
.modal__checkbox-hidden:checked + .modal__checkbox .modal__agreement-check {
  border: none;
  fill: var(--none_white);
  background-color: var(--secondary_color);
}

.modal__agreement-check.active {
  fill: var(--secondary_color);
  border: 2px solid #2196f3;
  border-radius: 4px;
}


/*-------------------*/
.work__item-title {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.80);
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.work__item {
  position: relative;
}

.header__menu-link-active::after {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #2196F3;
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header__menu-link-active {
  position: relative;
}

/*-----------*/

.footer__form {
  display: flex;
}
.footer__input {
  margin: left auto;
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--primary_color);
  color: var(--none_white);
 
}

.footer__input:hover,
.footer__input:focus {
  border-color: var(--secondary_color);
  cursor: pointer;
  outline: none;
}
.footer__button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
  background-color: var(--secondary_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__button:hover,
.footer__button:focus{
  background-color: #188CE8;
}
.footer__button-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  margin-left: 10px;
}
.footer__input::placeholder{
  color: rgba(255, 255, 255, 0.60);
}
.textarea::placeholder{
  color: rgba(117, 117, 117, 0.50);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}