
:root {
    --black: #000;
    --white: #fff;
    --primary_color: #2f303a;
    --secondary_color: #2196f3;
    --grey: #757575;
    --none_black: #212121;
    --none_white: #f5f4fa;
    --main-font: "Roboto", sans-serif;
  }
  